@use '../../mixins' as *;

.ebl-textarea {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px 4px 12px 12px;
    border-radius: var(--radius-sm, 8px);
    border: 1px solid var(--border-normal, #dce3eb);
    background: var(--bg-surface-normal, #fff);
    transition: all 0.2s ease;
    box-sizing: border-box;

    &:hover:not(.is-disabled) {
      border: 1px solid var(--border-hovered, #bcc7d4);
      background: var(--bg-surface-hovered, #f5f7fa);
    }
  }

  &.is-focused &__wrapper {
    border-color: var(--border-focused-normal, #295bff);
    outline: 2px solid #dee8ff;
  }

  &.is-error &__wrapper {
    border-color: #d32f2f;
  }

  &.is-error.is-focused &__wrapper {
    border-color: #d32f2f;
    outline-color: var(--border-error-subtle, #ffe0e0);
  }

  &.is-disabled &__wrapper {
    background: var(--bg-surface-disabled, #f5f7fa);
    cursor: not-allowed;
  }

  // Readonly state
  &.is-readonly &__wrapper {
    border-color: var(--border-disabled, #dce3eb);
    background: var(--bg-surface-disabled, #f5f7fa);
  }
  // Readonly 상태 호버 시에도 색상 유지
  &.is-readonly &__wrapper:hover {
    border-color: var(--border-disabled, #dce3eb);
    background: var(--bg-surface-disabled, #f5f7fa);
  }

  &__textarea {
    flex: 1;
    min-width: 0;
    min-height: 80px;
    padding-right: 8px;
    scrollbar-gutter: stable;
    @include ebl-scrollbar();
    border: none;
    outline: none;
    background: transparent;
    resize: none;
    color: var(--text-form-input-value, #121a26);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-family: inherit;

    &::placeholder {
      color: var(--text-form-input-placeholder, #9ba9ba);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--text-disabled, rgba(0, 0, 0, 0.4));
    }
  }

  &__counter {
    flex-shrink: 0;
    white-space: nowrap;
    color: var(--text-subtle, #3b4a5e);
    text-align: right;
    /* Text XS/Regular */
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    margin-top: 8px;
    margin-right: 8px;
  }
}
.ebl-mo {
  .ebl-textarea {
    gap: 0;
  }
}
