.ebl-route {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 0;
  gap: 12px;

  &__side {
    flex: 0 0 auto;
  }

  &__chunk {
    flex: 0 0 auto;
    color: var(--text-normal, #121a26);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  &__text {
    white-space: nowrap;
  }

  &__comma {
    flex-shrink: 0;
  }

  &__arrow {
    width: 34px;
    line-height: 0;
  }

  &__arrow svg {
    display: block;
  }

  &__tooltip {
    white-space: normal;
    word-break: break-all;
  }
}
